@using Akos.DataStuff
@using Akos.Interfaces
@inject IAllDishes DishBase

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    @foreach (var dish in DishBase.Dishes)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <a href="/Home/Details/@dish.Id">
                    <img src="@dish.img" class="card-img-top" alt="невезіння" />
                </a>
                <div class="card-body">
                    <h5 class="card-title">@dish.Name</h5>
                    <p class="card-text">Ціна: @dish.Price</p>
                    <a href="/Home/OrderDetails?dishId=@dish.Id" class="btn btn-primary">Замовити</a>
                    <form method="post" action="/Cart/CartOrder">
                        <input type="hidden" name="dishId" value="@dish.Id" />
                        <button type="submit" class="btn btn-success">Додати в корзину</button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>

@if (User.IsInRole("User"))
{
    <h2>Роль на даний момент: User</h2>
}
