@using BIT.Data
@using BIT.Interfaces
@inject IAllUsers UserBase

@{
    Layout = "_LayoutAdmin";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Email</th>
            <th>PasswordHash</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in UserBase.Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.PasswordHash</td>
            </tr>
        }
    </tbody>
</table>
