@using BIT.DataStuff
@using BIT.Interfaces
@using BIT.Controllers
@inject IAllDishes DishBase


<style>
    #cartContainer {
        position: fixed;
        top: 0;
        right: 0;
        max-height: 100vh; /* Задайте максимальну висоту відповідно до вашого дизайну */
        overflow-y: auto; /* Включити прокрутку при необхідності */
        width: 300px; /* Задайте ширину відповідно до ваших потреб */
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        display: none; /* По замовчуванню ховаємо контейнер */
    }
</style>

<h1>Hello dear User, its pleasure to meet you on Vanya's website'</h1>

<button id="showCartBtn" class="btn btn-info mt-4">Моя корзина</button>

<div class="container">
    <div class="row">
        @foreach (var dish in DishBase.Dishes)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <a href="/Home/Details/@dish.Id">
                        <img src="@dish.Img" class="card-img-top" alt="невезіння" />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@dish.Name</h5>
                        <p class="card-text">Ціна: @dish.Price</p>

                        <a href="/Order/Order?dishId=@dish.Id" class="btn btn-primary">Замовити</a>
                        <form method="post" action="/ShopCart/AddToListOfCartItems">
                            <input type="hidden" name="dishId" value="@dish.Id" />
                            <button type="submit" class="btn btn-success">Додати в корзину</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>

    <div id="cartContainer">
        <!-- Вміст часткового представлення корзини буде тут -->
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        var cartContainer = $('#cartContainer');

        $('form').submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function (partialView) {
                    cartContainer.html(partialView);
                }
            });
        });

        // Обробник події для кнопки "Моя корзина"
        $("#showCartBtn").click(function () {
            cartContainer.toggle(); // Перемикає відображення/приховування
            if (cartContainer.is(':visible')) {
                // Якщо відображено, вивести часткове представлення
                $.ajax({
                    url: '/ShopCart/PartCart', // Замініть 'ControllerName' на ваш реальний контролер
                    type: 'GET',
                    success: function (partialView) {
                        cartContainer.html(partialView);
                    }
                });
            }
        });
    });
</script>