#cartContainer {
    position: fixed;
    top: 100px; /* Позиціонуємо контейнер відносно верхнього краю хедера (розмір хедера 50px) */
    right: 0;
    max-height: calc(100vh - 50px); /* Встановлюємо максимальну висоту з урахуванням висоти хедера */
    overflow-y: auto;
    width: 300px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
}


#partial-load {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 80vh;
    overflow-y: auto;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    display: none;
    z-index: 999; /* Додайте z-index, щоб мати вищий зрівень ніж інші елементи на сторінці */
}

#showCartBtn {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 1000; /* Це значення може бути на ваш вибір, залежно від потреб вашого додатка */
    font-size: 24px; /* Розмір шрифту кнопки */
    padding: 10px 20px;
}

