@using BIT.DataStuff
@using BIT.Interfaces
@inject IAllOrders OrderBase

@{
    Layout = "_LayoutAdmin";
    int displayedOrdersCount = 0;
}

<link rel="stylesheet" href="~/css/Admin/Dashboard.css" asp-append-version="true" />
<style>
    .chart-container {
        border: 2px solid gold; /* Add a solid border around the chart container */
        border-radius: 8px; /* Add border radius for rounded corners */
        margin-bottom: 20px; /* Add some margin at the bottom for better spacing */
        overflow: hidden; /* Hide overflow to prevent box-shadow from overflowing */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for a lifted look */
    }

    .chart-description {
        font-size: 16px;
        font-weight: bold;
        margin-top: 10px; /* Додайте бажаний відступ зверху */
        color: white; /* Додайте бажаний колір тексту */
        text-align: center
    }
</style>
<div class="row" style="display: flex; justify-content: space-between;">
    <div class="chart-container" style="min-width: 950px; max-height: 400px;">
        <!-- Другий графік -->
        <canvas id="MyChart2" style="max-width: 951px; max-height: 400px;"></canvas>
    </div>
    <div class="chart-container" style="min-width: 333px; min-height: auto;">
        <!-- Перший графік -->
        <canvas id="MyChart1" style="max-width: 350px; max-height: auto;"></canvas>
        <p class="chart-description">Кількість продажів кожної категорії</p>
    </div>
</div>





<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Продукт</th>
                    <th scope="col">Дата замовлення</th>
                    <th scope="col">Кур'єр</th>
                    <th scope="col">Статус</th>
                    <!-- Додайте інші заголовки за необхідності -->
                </tr>
            </thead>
            <tbody>
                @foreach (var order in OrderBase.LastOrders)
                {
                    if (displayedOrdersCount < 5)
                    {
                        <tr>
                            <td>@order.ProductName</td>
                            <td>@order.OrderDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            <td>@order.Courier</td>
                            <td>@order.Status @if (order.Status == OrderStatus.Delivered)
                                {
                                    <text>✅</text>
                                }
                                else if(order.Status == OrderStatus.Canceled)
                                {
                                    <text>❌</text>
                                }
                                else if(order.Status == OrderStatus.Processing)
                                {
                                    <text>🔄</text>
                                }
                                else if(order.Status == OrderStatus.New)
                                {
                                    <text>🆕</text>
                                }
                            </td>
                            <!-- Додайте інші комірки з даними за необхідності -->
                        </tr>
                        displayedOrdersCount++;
                    }
                    else 
                    {
                        break;
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<!-- Скрипти для завантаження та відображення графіків -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Скрипт для першого графіка -->
<script type="text/javascript">
    $(document).ready(function () {
        // Завантаження даних для першого графіка
        $.ajax({
            type: "POST",
            url: "/ChartData/MostSellChart",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var _chartLabels = data[0];
                var _chartData = data[1];

                var pieColors = ["#ff9999", "#66b3ff", "#99ff99", "#ffcc99"]; // Задайте власні кольори для кожної частини Pie

                new Chart("MyChart1", {
                    type: "pie",
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            backgroundColor: pieColors,
                            data: _chartData
                        }]
                    },
                    options: {
                        legend: {
                            display: true,
                            position: 'bottom',
                            labels: {
                                fontColor: 'black'
                            }
                        }
                    }
                });
            },
            error: OnError
        });

        function OnError(err) {
            console.error(err);
        }
    });
</script>

<!-- Скрипт для другого графіка -->
<script type="text/javascript">
    $(document).ready(function () {
        // Завантаження даних для другого графіка
        $.ajax({
            type: "POST",
            url: "/ChartData/PriceChart",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var _chartLabels = data[0];
                var _chartData = data[1];

                var barColor = ["pink", "blue"];

                // Змінено тип графіка на "line" та додано хвилясту лінію
                new Chart("MyChart2", {
                    type: "line",
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            label: 'Кількість виручки за день',
                            backgroundColor: barColor,
                            data: _chartData,
                            lineTension: 0.5, // Додаємо параметр lineTension для хвилястості
                            borderColor: 'rgba(75, 192, 192, 1)', // Додайте власний колір рамки
                            borderWidth: 2, // Додаємо товщину лінії
                            pointRadius: 5, // Задаємо розмір крапок
                            pointBackgroundColor: 'rgba(75, 192, 192, 1)', // Додайте власний колір крапок
                            pointBorderColor: 'rgba(75, 192, 192, 1)' // Додайте власний колір рамки крапок
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
            error: OnError
        });

        function OnError(err) {
            console.error(err);
        }
    });
</script>
