@using BIT.DataStuff
@using BIT.Interfaces
@inject IAllOrders OrderBase

@{
    Layout = "_LayoutAdmin";
    int displayedOrdersCount = 0;
}

<link rel="stylesheet" href="~/css/Admin/Dashboard.css" asp-append-version="true" />

<div class="chart-container" style="max-width: 1300px; max-height: 400px; margin: 0 auto;">
    <!-- Перший графік -->
    <canvas id="MyChart1" style="max-width: 400px; max-height: 200px; float: right;"></canvas>
</div>

<div class="chart-container" style="max-width: 1300px; max-height: 400px; margin: 0 auto;">
    <!-- Другий графік -->
    <canvas id="MyChart2" style="max-width: 900px; max-height: 400px; float: left;"></canvas>
</div>



<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Продукт</th>
                    <th scope="col">Дата замовлення</th>
                    <th scope="col">Кур'єр</th>
                    <th scope="col">Статус</thscope>
                    <!-- Додайте інші заголовки за необхідності -->
                </tr>
            </thead>
            <tbody>
                @foreach (var order in OrderBase.LastOrders)
                {
                    if (displayedOrdersCount < 5)
                    {
                        <tr>
                            <td>@order.ProductName</td>
                            <td>@order.OrderDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            <td>@order.Courier</td>
                            <td>@order.Status @if (order.Status == OrderStatus.Delivered)
                                {
                                    <text>✅</text>
                                }
                                else if(order.Status == OrderStatus.Canceled)
                                {
                                    <text>❌</text>
                                }
                                else if(order.Status == OrderStatus.Processing)
                                {
                                    <text>🔄</text>
                                }
                                else if(order.Status == OrderStatus.New)
                                {
                                    <text>🆕</text>
                                }
                            </td>
                            <!-- Додайте інші комірки з даними за необхідності -->
                        </tr>
                        displayedOrdersCount++;
                    }
                    else 
                    {
                        break;
                    }
                }
            </tbody>
        </table>
    </div>
</div>


<!-- Скрипти для завантаження та відображення графіків -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Скрипт для першого графіка -->
<script type="text/javascript">
    $(document).ready(function () {
        // Завантаження даних для першого графіка
        $.ajax({
            type: "POST",
            url: "/ChartData/MostSellChart",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var _chartLabels = data[0];
                var _chartData = data[1];

                var pieColors = ["#ff9999", "#66b3ff", "#99ff99", "#ffcc99"]; // Задайте власні кольори для кожної частини Pie

                new Chart("MyChart1", {
                    type: "pie",
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            backgroundColor: pieColors,
                            data: _chartData
                        }]
                    },
                    options: {
                        legend: {
                            display: true,
                            position: 'bottom',
                            labels: {
                                fontColor: 'black'
                            }
                        }
                    }
                });
            },
            error: OnError
        });

        function OnError(err) {
            console.error(err);
        }
    });
</script>

<!-- Скрипт для другого графіка -->
<script type="text/javascript">
    $(document).ready(function () {
        // Завантаження даних для другого графіка
        $.ajax({
            type: "POST",
            url: "/ChartData/PriceChart",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                var _chartLabels = data[0];
                var _chartData = data[1];

                var barColor = ["pink", "blue"];

                // Змінено тип графіка на "line" та додано хвилясту лінію
                new Chart("MyChart2", {
                    type: "line",
                    data: {
                        labels: _chartLabels,
                        datasets: [{
                            backgroundColor: barColor,
                            data: _chartData,
                            lineTension: 0.5, // Додаємо параметр lineTension для хвилястості
                            borderColor: 'rgba(75, 192, 192, 1)', // Додайте власний колір рамки
                            borderWidth: 2, // Додаємо товщину лінії
                            pointRadius: 5, // Задаємо розмір крапок
                            pointBackgroundColor: 'rgba(75, 192, 192, 1)', // Додайте власний колір крапок
                            pointBorderColor: 'rgba(75, 192, 192, 1)' // Додайте власний колір рамки крапок
                        }]
                    },
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true
                            }
                        }
                    }
                });
            },
            error: OnError
        });

        function OnError(err) {
            console.error(err);
        }
    });
</script>
