@model List<BIT.Models.Dish>
@using BIT.DataStuff;
@using BIT.Interfaces;
@inject IAllDishes DishBase;
@{
    Layout = "_LayoutAdmin";
}
@foreach (var dish in DishBase.Dishes)
{
    <div>
        <!-- Показати дані рядка -->
        <span>@dish.Name</span>
        <!-- Додати кнопку для видалення -->
        <form asp-action="Delete" method="post">
            <input type="hidden" name="id" value="@dish.Id" />
            <button type="submit">Видалити</button>
        </form>
    </div>
}