@using BIT.DataStuff;
@using BIT.Interfaces;
@inject IAllDishes DishBase;
@{
    Layout = "_LayoutAdmin";
}


@foreach (var dish in DishBase.Dishes)
{
    <div>
        <!-- Показати дані рядка -->
        <span>@dish.Name</span>

        <form asp-action="SentToEdit" asp-controller="Admin" method="post">
            <!-- Інші поля форми, які ви хочете редагувати -->
            <input type="hidden" name="dishId" value="@dish.Id" />
            <button type="submit">Редагувати</button>
        </form>


    </div>
}


