@{
    Layout = "_LayoutAdmin";
}


<form action="/Admin/ShowDishData" class="poshuk_form">
    <label for="IdOrName">Id or Name:</label>
    <input type="text" id="IdOrNamel" name="IdOrName" required />
    <button type="button" class="find-btn">Пошук</button>

</form>



<div id="thepartial-load"></div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
    $(document).ready(function () {
        var partialLoadContainer = $('#thepartial-load');

        // Додано обробник кліку для кнопки "Замовити"
        $(".find-btn").click(function () {
            var form = $(this).closest('form');
            var IdorName = form.find('input[name="IdOrName"]').val();

            // Вивести часткове представлення замовлення на сторінку
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: { IdOrName: IdorName },
                success: function (partialView) {
                    partialLoadContainer.html(partialView).fadeIn();
                }
            });
        });
    });
</script>