<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 20px;
        }

        h1 {
            color: #4CAF50;
            font-size: 36px;
        }

        p {
            color: #333;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <h1>Дякуємо за замовлення!</h1>
    <p>Ми вдячні, що ви обрали наші продукти. Ваше замовлення в обробці.</p>
</body>
</html>