@model Dish
@using BIT.DataStuff
@using BIT.Interfaces
@inject IAllCategories Categories
@{
    Layout = "_LayoutAdmin";
}

<style>
    #partial-container {
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: white;
        position: relative;
        z-index: 1000; /* Забезпечте, щоб був вищий зрівень ніж #partial-load */
    }

    #close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    #partial-container img {
        max-width: 80%; /* Зменшено розмір зображення на 80% від оригінального розміру */
        height: auto;
        margin-bottom: 10px;
    }

    #partial-container form {
        display: flex;
        flex-direction: column;
    }

    #partial-container label {
        margin-top: 10px;
    }

    #partial-containerinput,
    #partial-container textarea {
        width: 100%;
        padding: 8px;
        margin-top: 4px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    #partial-container button {
        background-color: #4caf50;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    #partial-container button:hover {
            background-color: #45a049;
        }

    #partial-container p {
        margin-top: 10px;
    }

</style>
<div class="partial-container">
    <div id="close-btn" onclick="closeOrderContainer()">✖</div>
<form asp-action="EditThis" method="post" class="dish-form">
    <div class="form-group">
        <label asp-for="Name">Назва:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price">Ціна:</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description">Опис:</label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Img">URL Зображення:</label>
        <input asp-for="Img" class="form-control" />
        <span asp-validation-for="Img" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsFavorite">Улюблений:</label>
        <input asp-for="IsFavorite" type="checkbox" class="form-check-input" />
        <span asp-validation-for="IsFavorite" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsAvaileble">Доступний:</label>
        <input asp-for="IsAvaileble" type="checkbox" class="form-check-input" />
        <span asp-validation-for="IsAvaileble" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Calories">Калорії:</label>
        <input asp-for="Calories" class="form-control" />
        <span asp-validation-for="Calories" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Category">Калорії:</label>
        <select asp-for="Category">
            @foreach (var category in Categories.Categories)
            {
                <option value="@category.Name">@category.Name</option>
            }
        </select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>


    <button type="submit" class="btn btn-primary">Додати</button>
</form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
