<style>
    /* Стилі для хедера */
    header {
        background-color: #333; /* Колір фону хедера */
        padding: 10px; /* Відступи в середині хедера */
        margin-bottom: 100px; /* Нижній відступ хедера */
        color: #fff; /* Колір тексту в хедері */
        display: flex; /* Використовуємо flexbox для розташування елементів в хедері */
        justify-content: space-between; /* Рівномірно розташовуємо елементи по ширині хедера */
        align-items: center; /* Вертикально центруємо елементи */
    }

    /* Стилі для лого */
    #logo {
        max-width: 70px; /* Максимальна ширина лого */
        max-height: 70px; /* Максимальна висота лого */
        cursor: pointer; /* Додаємо покажчик, щоб показати, що лого є клікабельним */
    }

    /* Стилі для посилань у хедері */
    nav {
        margin-top: 5px; /* Відступи від верху хедера для посилань */
    }

        nav ul {
            list-style: none; /* Видаляємо маркери списку */
            padding: 0; /* Видаляємо внутрішні відступи у списку */
        }

        nav li {
            display: inline-block; /* Зробити елементи блоків, що йдуть в ряд */
        }

        nav a, nav button {
            color: #fff; /* Колір тексту посилань та кнопки */
            margin: 0 25px; /* Відступи між посиланнями та кнопкою */
            text-decoration: none; /* Заборона підчеркування посилань */
            border: none; /* Видаляємо рамку у кнопки */
            background: none; /* Видаляємо фон у кнопки */
            cursor: pointer; /* Змінюємо покажчик для кнопки */
            padding: 0; /* Видаляємо внутрішні відступи у кнопки */
        }

            nav a:hover,
            nav button:hover {
                color: gold; /* Змінено колір при наведенні на фіолетовий */
            }

    #account-link {
        position: relative;
        cursor: pointer;
    }

    #overlay {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 200px;
        padding: 10px;
        background-color: #333;
        color: #fff;
        box-shadow: 0 0 10px purple;
    }

        #overlay a {
            display: block;
            color: #fff;
            text-decoration: none;
            margin-bottom: 5px;
        }
        #overlay a:hover,
        #overlay button:hover{
            color: gold;
        }
        #overlay #logout:hover{
            color: gold;
        }



    #account-link1 {
        position: relative;
        cursor: pointer;
    }

    #overlay1 {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 200px;
        padding: 10px;
        background-color: #333;
        color: #fff;
        box-shadow: 0 0 10px purple;
    }

        #overlay1 a {
            display: block;
            color: #fff;
            text-decoration: none;
            margin-bottom: 5px;
        }

    #overlay1 a:hover,
            #overlay1 button:hover {
        color: gold; /* Змінено колір при наведенні на фіолетовий */
    }
</style>

<header>
    @if (User.Identity.IsAuthenticated)
    {
        <a href="/Home/index">
            <img src="https://img.freepik.com/premium-vector/burger-logo-icon_567288-500.jpg" alt="Your Logo" id="logo">
        </a>
    }
    else
    {
        <a href="/Welcome/Home">
            <img src="https://img.freepik.com/premium-vector/burger-logo-icon_567288-500.jpg" alt="Your Logo" id="logo">
        </a>
    }
    <nav>
        <ul>
            @if (User.Identity.IsAuthenticated)
            {
                <li>
                    <div id="account-link">
                    Аккаунт
                    <div id="overlay">
                        <a href="/Account/MyOrders">Мої замовлення</a>
                        <a href="/Account/settings">Персональні дані</a>
                            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/">
                                <button id="logout" type="submit">Logout</button>
                            </form>
                    </div>
                </div>
                </li>
                @if (User.IsInRole("Admin"))
                {
                    <li>
                        <a href="/Admin/Dashboard">Адмін панель</a>
                    </li>
                }
                @if (User.IsInRole("Courier") || User.IsInRole("Admin"))
                {
                    <li>
                        <div id="account-link1">
                            Кур'єрство
                            <div id="overlay1">
                                <a href="/Courier/Orders">Доступні замовлення</a>
                                @if (User.IsInRole("Courier"))
                                {
                                    <a href="/Courier/MyDeliveries">Замовлення в процесі</a>
                                    <a href="/Courier/Info">Персональна інформація</a>
                                }
                            </div>
                        </div>
                    </li>
                }
            }
            else
            {               
                <li class="nav-item">
                    <a class="text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Увійти</a>
                </li>
                <li class="nav-item">
                    <a class="text-white" id="register" asp-area="Identity" asp-page="/Account/Register">Зареєструватися</a>
                </li>
            }
            <li>
                <a href="/Category">Категорії</a>
            </li>
            
        </ul>
    </nav>
</header>

<script>
    const accountLink = document.getElementById('account-link');
    const overlay = document.getElementById('overlay');

    accountLink.addEventListener('mouseover', () => {
        overlay.style.display = 'block';
    });

    accountLink.addEventListener('mouseout', () => {
        overlay.style.display = 'none';
    });
</script>

<script>
    const accountLink1 = document.getElementById('account-link1');
    const overlay1 = document.getElementById('overlay1');

    accountLink1.addEventListener('mouseover', () => {
        overlay1.style.display = 'block';
    });

    accountLink1.addEventListener('mouseout', () => {
        overlay1.style.display = 'none';
    });
</script>