@using BIT.ViewModels;
@model OrderDetailsViewModel
@using BIT.Interfaces
@inject IAllDishData Carta

<style>
    #order-container {
        text-align: center;
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        background-color: white;
        position: relative;
        z-index: 1000; /* Забезпечте, щоб був вищий зрівень ніж #partial-load */
    }

    #close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
    }

    #order-container img {
        max-width: 80%; /* Зменшено розмір зображення на 80% від оригінального розміру */
        height: auto;
        margin-bottom: 10px;
    }

    #order-container form {
        display: flex;
        flex-direction: column;
    }

    #order-container label {
        margin-top: 10px;
    }

    #order-container input,
    #order-container textarea {
        width: 100%;
        padding: 8px;
        margin-top: 4px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }

    #order-container button {
        background-color: #4caf50;
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

        #order-container button:hover {
            background-color: #45a049;
        }

    #order-container p {
        margin-top: 10px;
    }
</style>

    <div id="order-container">    
        <div id="close-btn" onclick="closeOrderContainer()">✖</div>
        <img src="@Carta.RetDishImageById(Model.DishId)"></img>
        <form asp-action="OrderDone" asp-controller="Order" method="post">       
            <input type="hidden" asp-for="DishId" name="DishId" />

            <label asp-for="PaymentMethod">Патіжний спосіб:</label>
            <input asp-for="PaymentMethod" class="form-control" />
            <span asp-validation-for="PaymentMethod" class="text-danger"></span>

            <label asp-for="Notes">Замітки</label>
            <input asp-for="Notes" class="form-control" />
            <span asp-validation-for="Notes" class="text-danger"></span>

            <label asp-for="ShippingAdrees">Адреса доставки</label>
            <input asp-for="ShippingAdrees" class="form-control" />
            <span asp-validation-for="ShippingAdrees" class="text-danger"></span>

            <label asp-for="PhoneNumber">Телефон</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>

            <button type="submit" onclick="checkAndSubmit()">Confirm Order</button>
        </form>

    </div>

<script>
    function closeOrderContainer() {
        $("#order-container").fadeOut();
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}