@model Akos.Models.Category

<form asp-action="AddNewCategory" method="post">
    <div>

        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>

        <label asp-for="Description"></label>
        <input asp-for="Description">
        <span asp-validation-for="Description"></span>

    </div>

    <button type="submit">Додати</button>
</form>
