@using BIT.DataStuff
@using BIT.Interfaces
@inject IAllOrders OrderBase

@{
    Layout = "_LayoutAdmin";
}

<style>
    .table {
        border-collapse: collapse;
        width: 100%;
    }

        .table th, .table td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
</style>



<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Продукт</th>
                    <th scope="col">Дата замовлення</th>
                    <th scope="col">Метод оплати</th>
                    <th scope="col">Кур'єр</th>
                    <!-- Додайте інші заголовки за необхідності -->
                </tr>
            </thead>
            <tbody>
                @foreach (var order in OrderBase.Orders)
                {
                    if (order.OrderDate >= DateTime.Now.AddDays(-2))
                    {
                        <tr>
                            <td>@order.ProductName</td>
                            <td>@order.OrderDate.ToString("yyyy-MM-dd HH:mm:ss")</td>
                            <td>@order.PaymentMethod</td>
                            <td>@order.Courier</td>
                            <!-- Додайте інші комірки з даними за необхідності -->
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>